@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, ul, dl, li, p{ margin:0;}
body{font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;}
ul{list-style: none;}
a{ text-decoration:none;}

.clearfix{
	overflow:hidden;
	_zoom:1%;}

/* 页头 */
.header{ 
	height:70px;
	line-height:70px;
}
.header h1{ 
	background:url(../images/logo.png) no-repeat;
	width:70px;
	height:70px;
	float:left;
	margin-left:15%;
	-webkit-background-size: cover;
	background-size: cover;}
.header h1 a{
	display:block;
	text-indent:-9999px;
	width:70px;
	height:70px;
}
.header ul{margin-left:45%;}
.header li{ 
	float:left;
	padding-left:2.5%;
	padding-right:2.5%;
	}
.header li a{ 
	color:#7B7B7B;
	font-size:18px;}
.header li a:hover{
	color: #000;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #64a8aa;
	}
.header p{
	float: right;
	margin-right: 3.5%;
	font-size: 14px;
	margin-top:10px;
	}
.header p a{ color:#CCC;}
.header p a:hover{ color:#62ACAE;}

.main{ 
	background:#F7F7F7;}

.slideBox{ 
	float:left;
	margin-left:2.5%;}

/*购物数据栏*/
#wrap2 { width: 40%; height: 400px; float:left; text-align:justify; padding-left:70px; padding-top:50px;}
#top { width: 550px; height: 220px; border-bottom: 1px solid #bbb; font-family: 'Microsoft yahei'; }
#top p { margin-bottom: 15px; }
#top p font { font-size: 14px; color: #000; margin-right: 15px; }
#top p span { font-size: 14px; color: #666; border: 1px solid #999; display: inline-block; padding: 8px; cursor: pointer; }
#top p span.on { border: 2px solid #0099FF; padding: 7px; background: url('images/on.png') no-repeat right bottom; }
#bottom { width: 600px; height: 159px; padding-top: 20px; font-family: 'Microsoft yahei'; }
#bottom p font { color: #f60; font-size: 20px; margin-right: 20px; }
#bottom p a { font-size: 14px; color: blue; }
#bottom p a i { margin: 0 5px; color: #90c; }
#bottom button { width: 200px; height: 50px; font-family: 'Microsoft yahei'; margin-top: 20px; margin-right:40px; font-size: 20px; background: #64AAAC; color: #fff; border: none; float:left; border-radius:10px;}
#bottom button:hover{ background-color:#0099FF;}
#bottom .wgc{ background-color:#FB5E5E;}
#bottom .wgc:hover{ background-color:#EF6E6E;}

</style>
/*产品参数*/
ul,li{ list-style: none}
.tabClick{ background: #f3f3f3; overflow: hidden;}
.tabClick li{ height:40px; line-height: 40px; width: 25%; float: left; text-align: center}
.tabClick li.active{ color: #099; transition: 0.1s; font-weight: bold}
.tabCon{ overflow: hidden}
.tabBox{ position: relative}
.tabList{word-break: break-all; width:100%;float:left; line-height:100px; text-align:center; color:#D3D3D3; font-size:36px; font-family: "Arial Black"}
.lineBorder{ height: 2px; overflow: hidden; border-bottom:1px solid #099; background: #f3f3f3}
.lineDiv{ background: #099; height: 2px; width: 25%;}
/* 页脚 */
.footer{
	width: 95%;
	margin: 0 auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-bottom:2%;
}
.footer li{ 
	float:left;
	padding-left:8%;
	margin-top:25px;
}
.footer li a{
	 color:#7B7B7B;
	 font-size:14px;
	 }
.footer li a:hover{
	 color:#FF7E00;
	 }
.dh{ 
	float:right;
	text-align:center;
	margin-top:3%;
	}
.dh h2{ 
	color:#FF7E00;
	font-size:28px;
	padding-bottom:10px;
	}

