@charset "utf-8";
/* 全局样式 */
body, h1, ul, p{ margin:0;}
body{font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
background-color:#F2F2F2;
}
ul{
	list-style: none;
	padding-left:0;}
a{ text-decoration:none;}

.clearfix{
	overflow:hidden;
	_zoom:1%;}

/* 页头 */
.header{ 
	height:70px;
	line-height:70px;
	background-color:#FFF;
}
.header h1{ 
	background:url(../images/logo.png) no-repeat;
	width:70px;
	height:70px;
	float:left;
	margin-left:15%;
	-webkit-background-size: cover;
	background-size: cover;}
.header h1 a{
	display:block;
	text-indent:-9999px;
	width:70px;
	height:70px;
}
.header ul{margin-left:45%;}
.header li{ 
	float:left;
	padding-left:2.5%;
	padding-right:2.5%;
	}
.header li a{ 
	color:#7B7B7B;
	font-size:18px;}
.header li a:hover{
	color: #000;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #64a8aa;
	}
.header p{
	float: right;
	margin-right: 3.5%;
	font-size: 14px;
	margin-top:10px;
	}
.header p a{ color:#CCC;}
.header p a:hover{ color:#62ACAE;}

/* products */
.products{
	width: 95%;
	margin: 15px auto;
	}
.products h2{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	padding-bottom:5px;
	color:#62A8AA;
	font-size:20px;
}
.products div{
	text-align:center;
	-webkit-transition:0s;
	-o-transition:0s;
	transform:0s;
	}
.products img{ padding-top:20px;}
.tu{ 
	margin:25px;
	border-radius:10px;
	box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	}
.tu:hover{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transform: .3s;
	-webkit-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
	box-shadow: 0 17px 50px 0 #999;
	transform: translate3d(0,-2px,0);
}
.products a{
	color:#7B7B7B;
}
.products a:hover{ color:#62A8AB;}
.products p{ 
	margin-bottom:5px;
	margin-top:5px;}
.products span{ 
	color:#FF7E00;}
.products-2 p{ 
	float:left;
	margin-left:30%;}
.products-2 span p{ margin-left:10%;}

/* 页脚 */
.footer{
	width: 95%;
	margin: 0 auto;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-bottom:2%;
}
.footer li{ 
	float:left;
	padding-left:8%;
	margin-top:25px;
}
.footer li a{
	 color:#7B7B7B;
	 font-size:14px;
	 }
.footer li a:hover{
	 color:#FF7E00;
	 }
.dh{ 
	float:right;
	text-align:center;
	margin-top:3%;
	}
.dh h2{ 
	color:#FF7E00;
	font-size:28px;
	padding-bottom:10px;
	}
@media screen and (max-width: 680px){
.header ul{margin-left:10%;}
.header h1{
	margin-right:5%;
	margin-left:15%;}

@media screen and (max-width: 600px){
.header ul{margin-left:10%;}
.header h1{
	margin-right:5%;
	margin-left:5%;}

@media screen and (max-width: 460px){
.header ul{margin-left:10%;}
.header h1{
	margin-right:2%;
	margin-left:5%;}
.header p{
	margin:0;
	width:70px;
	margin-top:2px;
	font-size:12px;}
	}
@media screen and (max-width: 380px){
}
.header ul{
	margin:0;
	}
.header li{
	margin:0;
	padding-left:0;
	}
.header h1{
	margin:0;
	margin-right:5%;
	margin-left:5%;
	}